<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Pages>16</Pages><Words>4913</Words><Characters>5237</Characters><TotalTime>0</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>5535</CharactersWithSpaces><Application>WPS Office_12.1.0.25865_F1E327BC-269C-435d-A152-05C5408002CA</Application></Properties>